# chapter 8 : Lists

In [1]:
#list
for i in [23, 24, 23, 22, 21, 20] :
 print(i)
print('END!')

23
24
23
22
21
20
END!

In [2]:
friends = ['Anusha', 'Shazia', 'Mahnoor']
for friend in friends :
 print('Happy New Year:', friend)
print('Done!')

Happy New Year: Anusha
Happy New Year: Shazia
Happy New Year: Mahnoor
Done!

In [3]:
# length of lists 

greet = 'Hello! how are you guys ? '
print(len(greet))

26

In [4]:
x = [ 1, 2, 'Nice', 99 , 'hii']
print(len(x))

5

In [5]:
#range of list 
print(range(4))
[0, 1, 2, 3]
friends = ['Joseph', 'Glenn', 'Sally']
print(len(friends))

range(0, 4)
3

In [6]:
#tale of two loops 
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends :
 print('Happy New Year:', friend)
for i in range(len(friends)) :
 friend = friends[i]
 print('Happy New Year:', friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [7]:
#concatenating the list by using + 
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

In [8]:
t = [9, 41, 12, 3, 74, 15]
t[:4]

[9, 41, 12, 3]

In [9]:
t = [9, 41, 12, 3, 74, 15]
t[3:]

[3, 74, 15]

In [10]:
t = [9, 41, 12, 3, 74, 15]
t[:]

[9, 41, 12, 3, 74, 15]

In [11]:
nums = [3, 41, 12, 9, 74, 15]
print(len(nums))
print(max(nums))

6
74

In [12]:
nums = [3, 41, 12, 9, 74, 15]
print(min(nums))

3

In [13]:
nums = [3, 41, 12, 9, 74, 15]
print(sum(nums)/len(nums))

25.666666666666668

In [14]:
#string with list
abc = 'With three words'
stuff = abc.split()
print(stuff)

['With', 'three', 'words']